
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

* {
  box-sizing: border-box;
}

/* 1. navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7e7e7e00;
  color: #fff;
  padding: 10px;
}

/* .logo {
  font-size: 24px;
  font-weight: bold;
} */

.nav-links {
  display: flex;
  list-style-type: none;
}

.nav-link {
  margin-left: 20px;
  color: #fff;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}


/* 2. home */
body {
  font-family: sans-serif;
  background-image: url(../images/hero-side-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.home-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.home-container h1 {
  font-size: 30px;
  font-weight: lighter;
  margin-bottom: 20px;
  color: rgb(43, 42, 42);
}
.home-container p {
  font-size: 18px;
  font-weight: lighter;
  margin-bottom: 20px;
  color: rgb(43, 42, 42);
}
/* 3. items */
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  width: calc(33.33% - 10px); /* adjust as needed */
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-price {
  font-size: 16px;
  color: #666;
}

.product-btn {
  display: block;
  margin-top: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.product-btn:hover {
  background-color: #666;
}

/* 4. signup */
.signup-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hide {
  display: none;
}
 
.valid{
  color: green;

}

.invalid{
  color: red;
}

.instructions{
  font-size: 12px;
  font-weight: lighter;
  color: #ff1313;
}
.offscreen {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.signup-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.form-group input {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.signup-btn {
  display: block;
  width: 100%;
  margin-top: 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.signup-btn:hover {
  background-color: #666;
}

/* 5. login */
.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.form-group input {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.login-btn {
  display: block;
  width: 100%;
  margin-top: 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #666;
}

/* 6. cart */
.cart-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.cart-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 5px;
  padding: 10px;
}

.cart-item img {
  width: 80px;
  margin-right: 10px;
}

.cart-item h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.cart-item p {
  font-size: 16px;
  margin-bottom: 5px;
}

.cart-item button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  margin-left: auto;
}

.cart-item button:hover {
  background-color: #666;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.cart-total p {
  font-size: 20px;
  font-weight: bold;
}

.cart-total button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.cart-total button:hover {
  background-color: #666;
}

/* 7. purchase history */
.previous-purchases-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.purchase {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.purchase:hover {
  cursor: pointer;
  background-color: #e8e8e8;
}

.purchase-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 16px;
}

.purchase-name {
  flex: 1;
  margin-right: 10px;
}

.purchase-price {
  flex: 0 0 70px;
  text-align: right;
  margin-right: 10px;
}

.purchase-date {
  flex: 0 0 100px;
  text-align: right;
  color: #777;
}

/* 8. unauthorized */
.unauthorized-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}